# stack and cabal
.stack-work/
dist-newstyle/
.HTF/

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive
*_flymake.*
/eshell/history
/eshell/lastdir
/elpa/
*.rel
/auto/
.cask/
dist/
flycheck_*.el
/server/
.projectile
.dir-locals.el
/network-security.data

# rpt
/X*.java
/input.json

#
.env


__pycache__/
*.pyc
*.pyo
*.pyd

node_modules/
dist/
build/
npm-debug.log
pnpm-debug.log
yarn-error.log